@import './variables.scss';

.MainText {
    font-size: 27pt;
    color: $base-dark;
}


.App-content {
    width: 450px;
    margin: 0 auto;
}

.App-row {
    display: flex;
    justify-content: space-between;
}

@media ($is-mobile) {
    .App-content {
        width: 250px;
    
    }

    .App-row {
        display: block;
    }
    

}

