@import './variables.scss';

.Carousel {
    background-image: url("images/carousel-cover.png");
    background-size: cover;
    background-color: $base-light;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Carousel .CarouselCover {
    padding-top: 30px;
}

.CarouselMove {
    display: flex;
    border-top: 1px solid $base;
    border-bottom: 1px solid $base;
    align-items: center;
}

.CarouselMove p {
    font-size: 18pt;
    color: $base-dark;
}

.CarouselMove .CarouselLeft,
.CarouselMove .CarouselRight {

    padding-right: 3px;
}

.CarouselText {
    flex: 1;
    text-align: center;
}

.CarouselImageText {
    font-size: 24pt;
    color: $base-dark;
}

.CarouselImage {
    margin: 10px;
}