@import './variables.scss';

.Footer {
    background-color: $base-medium;
    display: flex;
    align-items: center;
    
}

.Footer a {
    padding: 10px;
}

.Footer-icon-right {
    margin-left: auto;
}

.Footer-nav {
    margin: 0 auto;
}

.Footer-nav a {
    text-transform: uppercase;
    color:$base-dark;
}