.icon {
    background-position: center center;
    background-repeat: no-repeat;
    

}

.icon-menu {
    background-image: url(./images/navbar/menu.png);
    width: 21px;
    height: 21px;
    
}

.icon-menu:hover, .icon-menu:active, .icon-menu:focus, .icon-menu:visited {
    background-image: url(./images/navbar/menu-active.png);

}

.icon-search {
    background-image: url(./images/navbar/search.png);
    width: 21px;
    height: 21px;
    
}

.icon-search:hover, .icon-search:active, .icon-search:focus, .icon-search:visited {
    background-image: url(./images/navbar/search-active.png);

}

.icon-home {
    background-image: url(./images/navbar/home.png);
    width: 26px;
    height: 26px;
    
}

.icon-home:hover, .icon-home:active, .icon-home:focus, .icon-home:visited {
    background-image: url(./images/navbar/home-active.png);

}

.icon-help {
    background-image: url(./images/navbar/help.png);
    width: 26px;
    height: 26px;
    
}

.icon-help:hover, .icon-help:active, .icon-help:focus, .icon-help:visited {
    background-image: url(./images/navbar/help-active.png);

}

.icon-hat {
    background-image: url(./images/navbar/hat.png);
    width: 26px;
    height: 26px;
    
}

.icon-hat:hover, .icon-hat:active, .icon-hat:focus, .icon-hat:visited {
    background-image: url(./images/navbar/hat-active.png);

}

.icon-email {
    background-image: url(./images/navbar/email.png);
    width: 26px;
    height: 26px;
    
}

.icon-email:hover, .icon-email:active, .icon-email:focus, .icon-email:visited {
    background-image: url(./images/navbar/email-active.png);

}