.Navbar {
    display: flex;
    padding: 10px 10px;
}

.Navbar .NavMenu {
    padding-top: 10px;
    padding-left: 130px;
}

.Navbar .NavSearch {
    padding-top: 10px;
    padding-left: 10px;
}

.NavLine {}