@import './variables.scss';

.Navbar {
    display: flex;
    align-items: center;
    
}

.Navbar-logo{
    padding: 10px;
    margin-right: auto;
}

.Navbar-icon {
   margin: 10px;
}

.Navbar-line {
    height: 8px;
    background-image: linear-gradient(to right, $green, $blue);
}

.Navbar-nav {
    text-transform: uppercase;
    color: $base;
}

.Navbar-nav.home:hover, .Navbar-nav.home:active, .Navbar-nav.home:focus, .Navbar-nav.home:visited {
    color: $green;

}

.Navbar-nav.about-us:hover, .Navbar-nav.about-us:active, .Navbar-nav.about-us:focus, .Navbar-nav.about-us:visited {
    color: $green-light;

}

.Navbar-nav.our-work:hover, .Navbar-nav.our-work:active, .Navbar-nav.our-work:focus, .Navbar-nav.our-work:visited {
    color: $blue-light;

}

.Navbar-nav.contact:hover, .Navbar-nav.contact:active, .Navbar-nav.contact:focus, .Navbar-nav.contact:visited {
    color: $blue;

}

.Navbar-search{
    padding: 10px;
}

.Navbar-search input {
   border: 1px solid $base;
   padding: 5px 10px;
   outline: none;
   border-radius: 2px;
   display: block;
   width: 100%;
}

.Navbar-dropdown a {
    display: block;
    padding: 5px;
    color:white;

}

.Navbar-dropdown a.home {
    background-color: $green;
}

.Navbar-dropdown a.about-us {
    background-color: $green-light;
}

.Navbar-dropdown a.our-work {
    background-color: $blue-light;
}

.Navbar-dropdown a.contact {
    background-color: $blue;
}




